div.grid-element {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.grid-element * {
    margin-left: 10px;
    margin-right: 10px;
}

div.grid-element > div.workspace-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

div.grid-element > div.workspace-screenshot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.grid-element button {
    width: 30px;
    height: 30px;
}
