.grid {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #00000025;
}

.grid ul {
    list-style-type: none;
}

.grid h2 {
    margin: 5px 5px 5px 55px;
}

.grid > .top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
}

.grid > .top .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.grid > .top > .delete {
    margin: 1px;
    width: 65px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
}

.delete:hover {
    background-color: red;
}
